<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="/HomeAdmin"><img class="main-logo" src="Admin/img/logo/logo.png" alt="" /></a>
            <strong><a href="HomeAdmin"><img src="Admin/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a class="has-arrow" href="HomeAdmin">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Việc làm thêm</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="Dashboard v.1" href="HomeAdmin"><span class="mini-sub-pro">Bảng điều khiển</span></a></li>
                            <li><a title="Analytics" href="analytics"><span class="mini-sub-pro">Phân tích</span></a></li>
                            <li><a title="Widgets" href="widgets"><span class="mini-sub-pro">Công cụ</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a title="Landing Page" href="events" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Sự kiện</span></a>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-professors" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Nhà tuyển dụng</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Professors" href="all-professors"><span class="mini-sub-pro">Tất cả</span></a></li>
                            <li><a title="Add Professor" href="add-professor"><span class="mini-sub-pro">Thêm mới</span></a></li>
                            <li><a title="Edit Professor" href="edit-professor"><span class="mini-sub-pro">Chỉnh sửa</span></a></li>
                            <li><a title="Professor Profile" href="professor-profile"><span class="mini-sub-pro">Trang cá nhân</span></a></li>
                            <li><a title="course Payment" href="course-payment"><span class="mini-sub-pro">Thông tin thanh toán</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-students" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Người tìm việc</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="all-students"><span class="mini-sub-pro">Người tìm việc</span></a></li>
                            <li><a title="Add Students" href="add-student"><span class="mini-sub-pro">Thêm mới</span></a></li>
                            <li><a title="Edit Students" href="edit-student"><span class="mini-sub-pro">Chỉnh sửa</span></a></li>
                            <li><a title="Students Profile" href="student-profile"><span class="mini-sub-pro">Trang cá nhân</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Việc làm</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Courses" href="all-courses"><span class="mini-sub-pro">Tất cả Việc làm</span></a></li>
                            <li><a title="Add Courses" href="add-course"><span class="mini-sub-pro">Thêm mới</span></a></li>
                            <li><a title="Edit Courses" href="edit-course"><span class="mini-sub-pro">Chỉnh sửa</span></a></li>
                            <li><a title="Courses Profile" href="course-info"><span class="mini-sub-pro">Chi tiết</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Library</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Library" href="library-assets"><span class="mini-sub-pro">Library Assets</span></a></li>
                            <li><a title="Add Library" href="add-library-assets"><span class="mini-sub-pro">Add Library Asset</span></a></li>
                            <li><a title="Edit Library" href="edit-library-assets"><span class="mini-sub-pro">Edit Library Asset</span></a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="all-courses" aria-expanded="false"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Tin trang chủ</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Departments List" href="departments"><span class="mini-sub-pro">Tin tuyển dụng</span></a></li>
                            <li><a title="Lựa chọn nổi bật" href="add-department"><span class="mini-sub-pro">Tin tuyển dụng Hot</span></a></li>
                            <li><a title="Edit Departments" href="edit-department"><span class="mini-sub-pro">Sửa tin tuyển dụng</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox" aria-expanded="false"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Email</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Inbox" href="mailbox"><span class="mini-sub-pro">Hòm thư đến</span></a></li>
                            <li><a title="View Mail" href="mailbox-view"><span class="mini-sub-pro">Toàn bộ Email</span></a></li>
                            <li><a title="Compose Mail" href="mailbox-compose"><span class="mini-sub-pro">New Email</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox" aria-expanded="false"><span class="educate-icon educate-interface icon-wrap"></span> <span class="mini-click-non">Giao diện Web</span></a>
                        <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                            <li><a title="Google Map" href="google-map"><span class="mini-sub-pro">Google Map</span></a></li>
                            <li><a title="Data Maps" href="data-maps"><span class="mini-sub-pro">Data Maps</span></a></li>
                            <li><a title="Pdf Viewer" href="pdf-viewer"><span class="mini-sub-pro">Pdf Viewer</span></a></li>
                            <li><a title="X-Editable" href="x-editable"><span class="mini-sub-pro">X-Editable</span></a></li>
                            <li><a title="Code Editor" href="code-editor"><span class="mini-sub-pro">Code Editor</span></a></li>
                            <li><a title="Tree View" href="tree-view"><span class="mini-sub-pro">Tree View</span></a></li>
                            <li><a title="Preloader" href="preloader"><span class="mini-sub-pro">Preloader</span></a></li>
                            <li><a title="Images Cropper" href="images-cropper"><span class="mini-sub-pro">Images Cropper</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox" aria-expanded="false"><span class="educate-icon educate-charts icon-wrap"></span> <span class="mini-click-non">Biểu đồ</span></a>
                        <ul class="submenu-angle chart-mini-nb-dp" aria-expanded="false">
                            <li><a title="Bar Charts" href="bar-charts"><span class="mini-sub-pro">Bar Charts</span></a></li>
                            <li><a title="Line Charts" href="line-charts"><span class="mini-sub-pro">Line Charts</span></a></li>
                            <li><a title="Area Charts" href="area-charts"><span class="mini-sub-pro">Area Charts</span></a></li>
                            <li><a title="Rounded Charts" href="rounded-chart"><span class="mini-sub-pro">Rounded Charts</span></a></li>
                            <li><a title="C3 Charts" href="c3"><span class="mini-sub-pro">C3 Charts</span></a></li>
                            <li><a title="Sparkline Charts" href="sparkline"><span class="mini-sub-pro">Sparkline Charts</span></a></li>
                            <li><a title="Peity Charts" href="peity"><span class="mini-sub-pro">Peity Charts</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">Dữ liệu bảng</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Peity Charts" href="static-table"><span class="mini-sub-pro">Static Table</span></a></li>
                            <li><a title="Data Table" href="data-table"><span class="mini-sub-pro">Data Table</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox" aria-expanded="false"><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Biểu mẫu</span></a>
                        <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                            <li><a title="Basic Form Elements" href="basic-form-element"><span class="mini-sub-pro">Bc Form Elements</span></a></li>
                            <li><a title="Advance Form Elements" href="advance-form-element"><span class="mini-sub-pro">Ad Form Elements</span></a></li>
                            <li><a title="Password Meter" href="password-meter"><span class="mini-sub-pro">Password Meter</span></a></li>
                            <li><a title="Multi Upload" href="multi-upload"><span class="mini-sub-pro">Multi Upload</span></a></li>
                            <li><a title="Text Editor" href="tinymc"><span class="mini-sub-pro">Text Editor</span></a></li>
                            <li><a title="Dual List Box" href="dual-list-box"><span class="mini-sub-pro">Dual List Box</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox" aria-expanded="false"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">App views</span></a>
                        <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
                            <li><a title="Notifications" href="notifications"><span class="mini-sub-pro">Thông báo</span></a></li>
                            <li><a title="Alerts" href="alerts"><span class="mini-sub-pro">Cảnh báo</span></a></li>
                            <li><a title="Modals" href="modals"><span class="mini-sub-pro">Phương thức</span></a></li>
                            <li><a title="Buttons" href="buttons"><span class="mini-sub-pro">Nút Bấm</span></a></li>
                            <li><a title="Tabs" href="tabs"><span class="mini-sub-pro">Danh sách</span></a></li>
                            <li><a title="Accordion" href="accordion"><span class="mini-sub-pro">Accordion</span></a></li>
                        </ul>
                    </li>
                    <li id="removable">
                        <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Cá nhân</span></a>
                        <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                            <li><a title="Login" href="login"><span class="mini-sub-pro">Đăng nhập</span></a></li>
                            <li><a title="Register" href="register"><span class="mini-sub-pro">Đăng ký</span></a></li>
                            <li><a title="Lock" href="lock"><span class="mini-sub-pro">Khoá tài khoản</span></a></li>
                            <li><a title="Password Recovery" href="password-recovery"><span class="mini-sub-pro">Khôi phục mật khẩu</span></a></li>
                            <li><a title="404 Page" href="404"><span class="mini-sub-pro">404 Lỗi trang</span></a></li>
                            <li><a title="500 Page" href="500"><span class="mini-sub-pro">500 Lỗi Trang</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>