<footer style="border-radius: 10px;" class="ftco-footer ftco-bg-dark ftco-section">
    <div  class="container">
      <div style="margin-top:1rem !important;" class="row mb-5">
          <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Việc làm thêm</h2>
            <video style="width: 100%;" autoplay muted loop id="myVideo">
              <source src="public/upload/video.mp4" type="video/mp4">
            </video>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="https://twitter.com/cAnh37768828"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://www.facebook.com/mra.2512/"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/le.anh._/"><span class="icon-instagram"></span></a></li>
              <li class="ftco-animate"><a href="https://www.linkedin.com/in/l%C3%AA-%C4%91%E1%BB%A9c-anh-6994b1198/"><span class="icon-linkedin"></span></a></li>
              <li class="ftco-animate"><a href="https://zalo.me/0933412867"><span class="icon-snapchat"></span></a></li>

            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Thông tin về chúng tôi</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Số 5 Đường D1 Tầng1 &2 Toà nhà PVL Linh Tây Tower Phường Linh Tây Quận Thủ Đức , TP, Hồ Chí Minh</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">Đức Anh | Recuitment Specialist at GALAXY DR  <A:mail></A:mail></span></a></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">(+84) 0933. 412. 967 <A:mail></A:mail></span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">anh.le@galaxydr.com.vn</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>| Lê Đức Anh| Recuitment Specialist at GalaxyDR | Phone : 0933.412.867 <i class="icon-heart text-danger" aria-hidden="true"></i>Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
</footer>
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script src="public/js/jquery.min.js"></script>
  <script src="public/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="public/js/popper.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
  <script src="public/js/jquery.easing.1.3.js"></script>
  <script src="public/js/jquery.waypoints.min.js"></script>
  <script src="public/js/jquery.stellar.min.js"></script>
  <script src="public/js/owl.carousel.min.js"></script>
  <script src="public/js/jquery.magnific-popup.min.js"></script>
  <script src="public/js/aos.js"></script>
  <script src="public/js/jquery.animateNumber.min.js"></script>
  <script src="public/js/scrollax.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="public/js/main.js"></script>
<link href="public/galaxydr/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="public/galaxydr/jquery-ui.min.js"></script>
<script src="public/galaxydr/popper.min.js+bootstrap.min.js+pace.min.js.pagespeed.jc.cTOUQr5aF8.js"></script>
<script src="public/galaxydr/jquery.form.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js"></script>

