<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid px-md-4	">
      <a class="navbar-brand" href="/">VIỆC LÀM THÊM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Danh mục
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item "><a href="/" class="nav-link">Trang chủ</a></li>
          <li class="nav-item"><a href="browsejobs" class="nav-link">Tìm việc làm</a></li>
          <li class="nav-item"><a href="candidates" class="nav-link">Tìm nhân viên</a></li>
          <li class="nav-item"><a href="blog" class="nav-link">Tin tức</a></li>
          <li class="nav-item"><a href="contact" class="nav-link">Liên hệ</a></li>
          <li class="nav-item cta mr-md-1 active"><a href="new-post" class="nav-link">Tìm ứng viên</a></li>
          <li class="nav-item cta cta-colored active"><a href="job-post" class="nav-link">Tìm việc</a></li>

        </ul>
      </div>
    </div>
  </nav>