<div class="ftco-search my-md-5">
    <div class="row">
<div class="col-md-12 nav-link-wrap">
<div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a hidden class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Tìm việc làm</a>
</div>
</div>
<div class="col-md-12 tab-wrap">
<div class="tab-content p-4" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">   
      <form action="#" class="search-job">
          <div class="row no-gutters">
              <div class="col-md mr-md-2">
                  <div class="form-group">
                      <div class="form-field">
                          <div class="icon"><span class="icon-briefcase"></span></div>
                        <input type="text" id="timvieclam" class="form-control" placeholder="Tìm việc làm ?">
                      </div>
                  </div>
              </div>
              <div class="col-md mr-md-2">
                <div class="form-group">
                    <div class="form-field">
                        <div class="icon"><span class="icon-briefcase"></span></div>
                      <input type="text" id="timhinhthuc" class="form-control" placeholder="Hình thức?">
                    </div>
                </div>
            </div>
              <div class="col-md mr-md-2">
                  <div class="form-group">
                      <div class="form-field">
                          <div class="icon"><span class="icon-map-marker"></span></div>
                        <input type="text" id='timdiachi' class="form-control" placeholder="Nơi làm việc">
                      </div>
                  </div>
              </div>
              <div class="col-md">
                  <div class="form-group">
                      <div class="form-field">
                        <button id="search-btn" type="submit" class="form-control btn btn-primary">Tìm kiếm</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
</div>
</div>
</div>