<section class="ftco-section services-section" >
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-resume"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Mục Tiêu</h3>
              <p>Hỗ trợ nhà tuyển dụng tìm kiêm ứng viên , kết nối dễ dàng</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-team"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Chiến dịch</h3>
              <p>Chia sẻ kiến thức tuyển dụng , hỗ trợ nhà tuyển dụng</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-career"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Tiêu chí</h3>
              <p>Chọn lọc công việc chất lượng , ứng viên đạt tiêu chuẩn</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-employees"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Phát Triển</h3>
              <p>Hỗ trợ tối đa nhà tuyển dụng tìm kiếm ứng viên</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>
